body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h2 {
    color: #6cc4bf;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6cc4bf;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: rgba(108,196,191,255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #5ab3af;
}
.toggle-link {
    color: #6cc4bf;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}